<footer>
  <div class="row">
    <div class="col-lg-6 footer">
      <p class="text-left">This work is supported by funding provided by the United States Department of Homeland Security, Science and Technology Directorate’s Homeland Security Advanced Research Projects Agency, Chemical and Biological Defense Division under contract numbers 2010-ST-108-000017, HSHQDC-13-B0028, and D15PC00278.

This work was supported by USDA Cooperative Agreements: USDA-APHIS-10025-VSCEAH00-17-0013, 13-9208-0353-CA, 13-9208-0344-CA, 13-9208-0345-CA, 15-9200-0400-CA, 15-9200-0440-CA. Data were provided by the U.S. Department of Agriculture, Animal and Plant Health Inspection Service, Veterinary Services. The analyses, views and conclusions contained in this document are those of the authors and should not be interpreted as representing the regulatory opinions, official policies, either expressed or implied, of the USDA-APHIS-Veterinary Services or the U.S. Department of Homeland Security. We also thank the state veterinarians and staff whose cooperation and effort made the data collection possible.
</p>
    </div>
      <div class="col-lg-6 footer">
        <p><img src="{{ "images/csu.png" }}" alt="CSU"/></p>
        <p><img src="{{ "images/LiU_logo.png" }}" width = "250" alt="LiU"/></p>
        <p><img src="{{ "images/warwick.jpg" }}" width = "250" alt="Warwick"/></p>
        &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
        {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
      </div>
  </div>
</footer>
